{% set sortto = '' %}


{# translate active filter #}
{% if templateVars.table.filterSet.activeFilters is defined %}
    {% set filtersSet = [] %}
    {% for key, activeFilter in templateVars.table.filterSet.activeFilters %}
        {% set filtersSet = filtersSet|merge([templateVars.filterName[key]|default(key)]) %}
    {% endfor %}
{% endif %}


{# show active filters #}
{% if filtersSet is defined %}
    <fieldset class="u-mt-0_5 u-pb-0_5 border--bottom">

        <div class="layout__item u-1-of-6 u-pl-0">
            <label for="active-filters" class="u-mv-0_25">{{ "filter.active"|trans }}:</label>
        </div><!--

     --><div
            class="layout__item u-5-of-6 u-mt-0_25"
            @click.prevent="$refs.filterModal.toggleModal"
            aria-label="{{ "aria.maximize_filters"|trans }}"
           >
            {{ filtersSet|default([])|join(", ") }}
        </div>

    </fieldset>
{%  endif %}

<div class="c-at__controls o-sticky o-sticky--border space-stack-xs u-pt-0_5 u-pb-0_25" data-sticky="lap-up">

    {% include '@DemosPlanCore/DemosPlanAssessmentTable/DemosPlan/dhtml/v1/includes/search_and_sorting.html.twig' with {
            route_reset_assessment_table: 'dplan_assessmenttable_view_original_table',
            original: 'true'
        }
    %}

    <div class="">

        {# mark all #}
        <label class="o-link--default inline-block align-middle line-height--2 u-mr-0_5 u-mb-0">
            <input
                class="u-mr-0"
                type="checkbox"
                :value="allItemsOnPageSelected"
                @click="$root.$emit('toggle-select-all')"
                data-cy="checkAllOriginalStatements">
            {{ 'visible.entries'|trans }}
        </label>

        <button
            type="submit"
            data-cy="copyStatement"
            class="o-link--default btn--blank weight--normal line-height--2 u-ph-0_25"
            @click.stop.prevent="copyStatements">
            <i class="fa fa-files-o" aria-hidden="true"></i>
            {{ "copy"|trans }}
        </button>

        {# Export Actions (buttons toggle <export-modal>) #}
        {% if hasPermission('feature_original_statements_export') %}
            {% set exportOptions = 0 %}
            {% set tab = '' %}
            {% set buttonLabelSingle = '' %}

            {% for key, value in templateVars.assessmentExportOptions %}
                {% if not value == false %}
                    {% set exportOptions = exportOptions+1 %}
                    {% set tab = key %}
                    {% set buttonLabelSingle = value.buttonLabelSingle %}
                {% endif %}
            {% endfor %}

            {% if exportOptions == 1 %}
                <button
                    class="o-link--default btn--blank weight--normal line-height--2 u-ph-0_25"
                    data-cy="exportModalToggle"
                    type="button"
                    role="menuitem"
                    tabindex="-1"
                    aria-haspopup="true"
                    aria-expanded="false"
                    @click.prevent="toggleExportModal('{{tab}}')"
                >
                    <i class="fa fa-share-square u-mr-0_125" aria-hidden="true"></i>
                    {{ buttonLabelSingle|trans }}
                </button>
            {% else %}
                <div class="c-actionmenu" data-actionmenu>
                    <button
                        class="c-actionmenu__trigger"
                        data-cy="exportTrigger"
                        type="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <i class="fa fa-share-square u-mr-0_125" aria-hidden="true"></i>
                        {{ 'export'|trans }}
                    </button>

                    <div class="c-actionmenu__menu" role="menu" hidden>
                        {% for tab, option in templateVars.assessmentExportOptions|filter(option => not option == false) %}
                            <button class="c-actionmenu__menuitem" data-actionmenu-menuitem role="menuitem" tabindex="-1" @click.prevent="$root.$emit('exportModal:toggle', '{{ tab }}')">
                                {{ option.buttonLabel|trans }}
                            </button>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="c-actionmenu" data-actionmenu>
            <button
                class="c-actionmenu__trigger"
                type="button"
                data-cy="originalStatementsDisplay"
                aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-th-large u-mr-0_125" aria-hidden="true"></i>
                {{ 'display'|trans }}
            </button>
            <div class="c-actionmenu__menu" role="menu">

                <button
                    class="c-actionmenu__menuitem"
                    type="button"
                    role="menuitem"
                    data-cy="displayListExpanded"
                    tabindex="-1"
                    title="{{ 'aria.expand.all'|trans }}"
                    data-actionmenu-current
                    data-actionmenu-menuitem
                    @click.prevent="$emit('current-table-view', 'expanded')">
                    {{ 'display.list.expanded'|trans }}
                </button>

                <button
                    class="c-actionmenu__menuitem"
                    type="button"
                    role="menuitem"
                    data-cy="displayListCollapsed"
                    tabindex="-1"
                    title="{{ 'aria.collapse.all'|trans }}"
                    data-actionmenu-menuitem
                    @click.prevent="$emit('current-table-view', 'collapsed')"
                >
                    {{ 'display.list.collapsed'|trans }}
                </button>

            </div>
        </div>

    </div>
</div>
