{% extends '@DemosPlanCore/DemosPlanCore/procedure.html.twig' %}

{% block component_part %}
    {% include '@DemosPlanCore/DemosPlanCore/includes/base_pageheader.html.twig' with {
        heading: 'text.procedures.types'|trans
    } %}

    <p>
        {{ 'text.procedures.types.hint'|trans }} {{ 'text.procedure.types.edit.and.create'|trans }}
    </p>

    <div class="text-right u-mv">
        {{ uiComponent('button', {
            style: 'primary',
            text: 'procedure.type.new'|trans,
            href: path('DemosPlan_procedureType_create_select', { isCreate: true })
        }) }}
    </div>

    {% for procedureType in templateVars.procedureTypes %}
        <dp-card class="u-mb">
            <div class="layout__item u-5-of-6 u-pl-0">
                <p><strong>{{ procedureType.name }}</strong></p>
                <p>{{ procedureType.description }}</p>
            </div><!--
        --><div class="layout__item u-1-of-6 text-right">
                <a
                    class="o-link--default"
                    href="{{ path('DemosPlan_procedureType_edit', { procedureTypeId: procedureType.id }) }}">
                    {{ 'edit'|trans }}
                </a>
            </div>
        </dp-card>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ webpackBundle('procedure-administrationProcedureTypeList.js') }}
{% endblock javascripts %}
