{% extends '@DemosPlanCore/DemosPlanCore/procedure.html.twig' %}

{% block demosplanbundlecontent %}
    {# in fact proceduresettings is a procedure. The settings are proceduresettings.settings #}
    {% set proceduresettings = templateVars.proceduresettings %}
    {% include '@DemosPlanCore/DemosPlanCore/includes/base_pageheader.html.twig' with {
        heading: 'adjustments.general' |trans
    } %}
    <p class="u-mb">{{ "text.procedure.adjustments.master"|trans }}</p>

    <procedure-template-basic-settings
        :auth-users="JSON.parse('{{ templateVars.authorizedUsers|default([])|reduce((acc, user) => acc|merge([{id: user.id, name: user.name}]), [])|default([])|json_encode|e('js', 'utf-8') }}')"
        :init-selected-auth-users="JSON.parse('{{ templateVars.procedure.authorizedUserIds|default([])|json_encode|e('js', 'utf-8') }}')"
        :agencies="JSON.parse('{{ templateVars.agencies|map(agency => { id: agency.ident, name: agency.nameLegal })|default([])|json_encode|e('js', 'utf-8') }}')"
        :init-selected-agencies="JSON.parse('{{ proceduresettings.planningOfficesIds|default([])|json_encode|e('js', 'utf-8') }}')"
        :init-send-mails-to-counties="{{ proceduresettings.settings.sendMailsToCounties|default(false) ? 'true' : 'false' }}"
    >
        <template #default="{
            state,
            authUsers,
            agencies,
            selectAllAuthUsers,
            unselectAllAuthUsers,
            sortSelected
        }">
            <form
                name="configForm"
                enctype="multipart/form-data"
                data-dp-validate
                method="post"
                action="{{ path('DemosPlan_procedure_edit_master',{'procedure':proceduresettings.ident}) }}">
                <input type="hidden" name="_token" value="{{ form._token.vars.value }}" />
                <input type="hidden" value="{% if proceduresettings.ident is defined %}{{ proceduresettings.ident }}{% endif %}" name="r_ident">
                <input type="hidden" value="{% if templateVars.internalPhases.1 is defined %}{{ templateVars.internalPhases.1.key }}{% endif %}" name="r_phase">
                <input type="hidden" value="edit" name="action">

                <dp-input
                    id="r_name"
                    class="mb-4"
                    data-counter="counter"
                    data-cy="editMasterName"
                    :label="{
                        hint: Translator.trans('input.text.maxlength', { maxlength: 200, id: 'counter' }),
                        text: Translator.trans('name')
                    }"
                    maxlength="200"
                    name="r_name"
                    required="true"
                    model-value="{% if proceduresettings.name is defined %}{{ proceduresettings.name }}{% else %}{{ "notspecified"|trans }}{% endif %}"
                >
                </dp-input>

                {% if hasPermission('field_procedure_adjustments_planning_agency') %}
                    {% block planningagency %}
                        <label class="u-mb-0">
                            {{ 'planningagency'|trans }}
                        </label>
                        <dp-multiselect
                            v-model="state.selectedAgencies"
                            class="layout__item w-full pl-0 mb-4"
                            label="name"
                            :multiple="true"
                            :options="agencies"
                            track-by="id"
                            @input="sortSelected('Agencies')">
                            <template v-slot:option="{ props }">
                                {% verbatim %}{{ props.option.name }}{% endverbatim %}
                            </template>
                            <template v-slot:tag="{ props }">
                            <span class="multiselect__tag">
                                {%  verbatim %}{{ props.option.name }}{%  endverbatim %}
                                <i aria-hidden="true"  @click="props.remove(props.option)" tabindex="1" class="multiselect__tag-icon"></i>
                                <input type="hidden" :value="props.option.id" name="r_agency[]"/>
                            </span>
                            </template>
                        </dp-multiselect>
                    {% endblock %}
                {% endif %}

                {% if hasProcedureUserRestrictedAccess and hasPermission('feature_procedure_user_restrict_access_edit') %}
                    <div class="mb-4 flow-root">
                        <label class="inline-block mb-0" for="r_dataInputOrga">
                            {{ 'authorized.users'|trans }}
                        </label>
                        {% include '@DemosPlanCore/Extension/contextual_help.html.twig' with {
                            helpText: 'text.procedure.edit.authorized.users'|trans,
                            cssClasses:'ml-1 mb-1'
                        } %}
                        <dp-multiselect
                            v-model="state.selectedAuthUsers"
                            class="layout__item w-full pl-0"
                            label="name"
                            :multiple="true"
                            :options="authUsers"
                            :selection-controls="true"
                            track-by="id"
                            @input="sortSelected('AuthUsers')"
                            @selectAll="selectAllAuthUsers"
                            @deselectAll="unselectAllAuthUsers">
                            <template v-slot:option="{ props }">
                                {% verbatim %}{{ props.option.name }}{% endverbatim %}
                            </template>
                            <template v-slot:tag="{ props }">
                                <span class="multiselect__tag">
                                    {%  verbatim %}{{ props.option.name }}{%  endverbatim %}
                                    <i aria-hidden="true" @click="props.remove(props.option)" tabindex="1" class="multiselect__tag-icon"></i>
                                    <input type="hidden" :value="props.option.id" name="r_authorizedUsers[]"/>
                                </span>
                            </template>
                        </dp-multiselect>
                    </div>
                {% endif %}

                <dp-text-area
                    id="r_desc"
                    class="mb-4"
                    :label="Translator.trans('internalnote')"
                    data-cy="newProcedureForm:internalNote"
                    name="r_desc"
                    :reduced-height="true"
                    value="{% if proceduresettings.desc is defined %}{{ proceduresettings.desc }}{% else %}{{ 'notspecified'|trans }}{% endif %}"
                >
                </dp-text-area>

                {% if hasPermission('feature_procedure_agency_email_addresses') %}
                    <dp-input
                        id="{{ form.agencyMainEmailAddress.vars.id }}"
                        class="mb-4 flow-root"
                        :label="{
                        hint: Translator.trans('explanation.organisation.email.procedure.agency'),
                        text: Translator.trans('email.procedure.agency'),
                        tooltip: Translator.trans('email.procedure.agency.help')
                    }"
                        model-value="{{ form.agencyMainEmailAddress.vars.value.fullAddress }}"
                        name="agencyMainEmailAddress[fullAddress]"
                        type="email"
                    >
                    </dp-input>
                {% endif %}

                {% if hasPermission('feature_procedure_agency_email_addresses') %}
                <div class="mb-4 flow-root">
                    <label class="inline-block mb-0" for="{{ form.agencyExtraEmailAddresses.vars.id }}">
                        {{ "email.address.more"|trans }}
                        {% include '@DemosPlanCore/Extension/contextual_help.html.twig' with {
                            helpText: 'email.address.more.explanation.help'|trans,
                            cssClasses:'mb-0.5'
                        } %}
                        <p class="lbl__hint weight--normal">
                            {{ "email.address.more.explanation"|trans|wysiwyg }}
                        </p>
                    </label>

                    {% set emailAddresses = [] %}
                    {% for agencyExtraEmailAddress in form.agencyExtraEmailAddresses %}
                        {%  set emailAddresses = emailAddresses|merge([{'mail': agencyExtraEmailAddress.vars.value.fullAddress|default('')}]) %}
                    {% endfor %}


                    <dp-email-list
                        class="{{ (form.agencyMainEmailAddress.vars.value.fullAddress|length > 0) ? '' : 'opacity-70 pointer-events-none' }}"
                        :init-emails="JSON.parse('{{ emailAddresses|json_encode|e('js', 'utf-8') }}')">
                    </dp-email-list>
                </div>
                {% endif %}

                {% if hasPermission('field_procedure_pictogram_view') and hasPermission('area_public_participation') %}
                    <div class="mb-4 flow-root">
                        <label class="inline-block mb-0" for="r_pictogram">
                            {{ 'procedure.pictogram'|trans }}
                        </label>
                        {% include '@DemosPlanCore/Extension/contextual_help.html.twig' with {
                            helpText: 'text.procedure.edit.external.pictogram'|trans,
                            cssClasses:'ml-1 mb-1'
                        } %}
                        {% if proceduresettings.settings.pictogram is defined and proceduresettings.settings.pictogram != "" %}
                            <br><br>
                            <img class="layout__item u-1-of-6 pl-0 mb-4" src="{{ path("core_logo", { 'hash': proceduresettings.settings.pictogram|getFile('hash') }) }}"><!--
                                 --><label class="layout__item u-1-of-3 cursor-pointer weight--normal">
                            {{ 'procedure.pictogram.delete'|trans }}
                            <input name="r_deletePictogram" type="checkbox" value="1">
                        </label>
                            <a
                                target="_blank"
                                rel="noopener"
                                href="{{ path("core_file_procedure", { 'hash': proceduresettings.settings.pictogram|getFile('hash'), 'procedureId': procedure }) }}">
                                {{ proceduresettings.settings.pictogram|getFile('name') }}
                            </a>
                        {% else %}
                            {{  fileupload(
                                "r_pictogram",
                                '<p class="lbl__hint">'
                                ~ "explanation.procedure.pictogram.missing"|trans
                                ~ "explanation.procedure.pictogram.dimensions"|trans
                                ~ '</p>',
                                "img",
                                "form.button.upload.file",
                                1,
                                true
                            )
                            }}
                        {% endif %}
                    </div>
                {% endif %}

                {% if permissions.field_procedure_linkbox is defined and permissions.field_procedure_linkbox.enabled == true %}
                    <label for="r_links" class="mb-0">
                        {{ "linkbox"|trans }}
                    </label>
                    <dp-editor
                        value="{{ proceduresettings.settings.links|default() }}"
                        hidden-input="r_links"
                        ref="r_links"
                        :toolbar-items="{ linkButton: true }" >
                    </dp-editor>
                {% endif %}

                {% if hasPermission('field_procedure_contact_person') %}
                    <label>
                        {{ 'public.participation.contact'|trans }}
                        <p class="lbl__hint">
                            {{ 'explanation.public.participation.contact'|trans }}
                        </p>
                    </label>
                    <dp-editor
                        value="{{ proceduresettings.publicParticipationContact|default( "notspecified"|trans ) }}"
                        hidden-input="r_publicParticipationContact"
                        :toolbar-items="{ listButtons: false }">
                    </dp-editor>
                {% endif %}

                {% if hasPermission('feature_statement_notify_counties') %}
                    <div class="inline-block weight--bold mt-4 mb-0">
                        {{ "procedure.notifyCountry"|trans }}
                    </div>
                    {% include '@DemosPlanCore/Extension/contextual_help.html.twig' with {
                        helpText: 'text.procedure.edit.additional.notifyCounty.hint'|trans,
                        cssClasses:'ml-1 mb-0.5'
                    } %}
                    <dp-checkbox
                        id="sendMailsToCounties"
                        v-model="state.sendMailsToCounties"
                        class="layout__item pl-0"
                        :label="{
                            text: Translator.trans('text.procedure.edit.additional.notifyCounty')
                        }"
                        name="r_sendMailsToCounties"
                    >
                    </dp-checkbox>

                    <div class="my-4 flow-root">
                        <div class="inline-block font-semibold u-9-of-10 mb-0">
                            {{ "procedure.notifyCountry.setEmails"|trans }}
                        </div>
                        <p class="flash flash-warning mt-2">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            {{ 'text.procedure.edit.additional.notifyCounty.setEmails.hint'|trans|wysiwyg }}
                        </p>
                        {% for receiver in templateVars.notificationReceivers %}
                            <dp-input
                                id="receiver_{{ receiver.id }}"
                                class="w-1/3 mb-2"
                                data-dp-validate-if="#sendMailsToCounties===checked"
                                :disabled="!state.sendMailsToCounties"
                                :label="{
                                    text: {{ receiver.label|default|json_encode }}
                                }"
                                model-value="{{ receiver.email|default }}"
                                name="r_receiver[{{ receiver.id }}]"
                                required
                                type="email"
                            >
                            </dp-input>
                        {% endfor %}
                    </div>
                {% endif %}

                {% set isAnotherBlueprintSetAsCustomerMaster = (templateVars.isCustomerMasterBlueprintExisting == true and (proceduresettings.master != true or proceduresettings.customer == null))  %}

                {% if hasPermission('feature_admin_customer_master_procedure_template') %}
                    <label class="mb-0 {% if isAnotherBlueprintSetAsCustomerMaster %}color--grey-light{% endif %}">
                        <input
                            type="checkbox"
                            {% if proceduresettings.master == true and proceduresettings.customer != null %}
                                checked
                            {% endif %}
                            name="r_customerMasterBlueprint"
                            {% if isAnotherBlueprintSetAsCustomerMaster %}
                                disabled
                            {% endif %}
                        />
                        {{ 'master.of.customer.set'|trans }}
                        <p class="lbl__hint ml-3">{{ 'explanation.customer.masterblueprint'|trans }}</p>
                    </label>
                    {% if isAnotherBlueprintSetAsCustomerMaster %}
                        <p class="lbl__hint ml-3">{{ 'explanation.customer.masterblueprint.uncheck.existing'|trans }}</p>
                    {% endif %}
                {% endif %}

                <div class="text-right mt-4 space-inline-s">
                    <input
                        class="btn btn--primary"
                        name="saveConfig"
                        type="submit"
                        data-cy="saveConfig"
                        value="{{ "save"|trans }}">
                    <a class="btn btn--secondary" href="{{ path('DemosPlan_procedure_templates_list') }}">
                        {{ "abort"|trans }}
                    </a>
                </div>
            </form>
        </template>
    </procedure-template-basic-settings>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ webpackBundles(['procedure-administrationEditMaster.js']) }}
{% endblock javascripts %}
