<section class="{{ 'c-statement__feedback'|prefixClass }}">

    <h2 class="{{ 'color-highlight'|prefixClass }}">
        <i class="{{ 'fa fa-comment'|prefixClass }}" aria-hidden="true"></i>
        {{ "confirm.statement.saved" | trans }}
    </h2>


    <p class="{{ 'flash-confirm c-statement__formhint'|prefixClass }}" aria-live="polite">
        <i class="{{ 'fa fa-check fa-lg'|prefixClass }}" aria-hidden="true"></i>
        {{ "confirm.statement.saved.draft.notification"|trans({ link: path('DemosPlan_statement_list_draft', {'procedure': procedure }), number: templateVars.number }) | wysiwyg }}
    </p>
    <p id="c-statement-hint-confirm-loggedin" class="{{ 'flash-error c-statement__formhint hidden'|prefixClass }}" tabindex="0">
        <i class="{{ 'c-statement__hint-icon fa fa-lg fa-exclamation-circle'|prefixClass }}" aria-hidden="true"></i>
        <a href="#" class="{{ 'block u-ml'|prefixClass }}" tabindex="0">
            {{ "error.mandatoryfields"|trans }}
        </a>
    </p>


    <p class="space-inline-s">
        <a
            class="{{ 'btn btn--primary u-1-of-1-palm'|prefixClass }}"
            data-cy="goToDrafts"
            href="{{ path('DemosPlan_statement_list_draft', {'procedure': procedure}) }}">Zum Entwurfsordner</a>
        <a
            class="{{ 'btn btn--secondary u-ml-0-palm u-mt-0_5-palm u-1-of-1-palm'|prefixClass }}"
            data-cy="close"
            data-statement-action="resetSuccess"
            href="">
            {{ "close"|trans }}
        </a>
    </p>

</section>
