{% extends '@DemosPlanCore/DemosPlanCore/procedure.html.twig' %}

{% block component_part %}

    {% include '@DemosPlanCore/DemosPlanCore/includes/base_pageheader.html.twig' with {
        heading: 'tag.administration_single' |trans
    } %}

    {% set currentAssignee = templateVars.tag.defaultAssignee is not null
        ? { id: templateVars.tag.defaultAssignee.id, label: templateVars.tag.defaultAssignee.firstname ~ ' ' ~ templateVars.tag.defaultAssignee.lastname }
        : { id: '', label: 'not.assigned'|trans } %}
    {% set existingBoilerplates = [] %}
    {% for boilerplate in templateVars.boilerplates %}
        {% if 'consideration' in boilerplate.categories|map(cat => cat.title) or boilerplate.categories|length == 0 %}
            {% set existingBoilerplates = existingBoilerplates|merge([{ id: boilerplate.ident, label: boilerplate.title }]) %}
        {% endif %}
    {% endfor %}
    {% set currentBoilerplate = templateVars.tag.boilerplate is not null
        ? { id: templateVars.tag.boilerplate.ident, label: templateVars.tag.boilerplate.title }
        : (existingBoilerplates is not empty ? existingBoilerplates|first : { id: '', label: '' }) %}
    {% set currentAttachmode = templateVars.tag.boilerplate is not null ? 'existing' : 'none' %}

    <form class="layout--flush flow-root" action='{{ path('DemosPlan_statement_administration_tag',{'procedure': procedure, 'tag': tag}) }}' method="post" enctype="multipart/form-data" data-dp-validate>
        {{ include('@DemosPlanCore/DemosPlanCore/includes/csrf.html.twig') }}

        <edit-tag
            :selected-assignee="JSON.parse('{{ currentAssignee|json_encode|e('js', 'utf-8') }}')"
            :selected-attachmode="'{{ currentAttachmode }}'"
            :selected-boilerplate="JSON.parse('{{ currentBoilerplate|json_encode|e('js', 'utf-8') }}')"
            v-slot="{ assignee, attachmode, boilerplate, setAssignee, setAttachmode, setBoilerplate }"
        >
        {{ uiComponent('form.row', {
            elements: [
                {
                    label: { text: 'title'|trans, id: 'r_tagTitle' },
                    control: { name: 'r_tagTitle' },
                    id: 'r_tagTitle',
                    value: templateVars.tag.title,
                    type: 'text',
                    required: true
                }
            ]
        }) }}

        {% if permissions.feature_tag_default_assignee is defined and permissions.feature_tag_default_assignee.enabled == true %}
            {% set assigneeOptions = [{ id: '', label: 'not.assigned'|trans }] %}
            {% for user in templateVars.authorizedUsers %}
                {% set assigneeOptions = assigneeOptions|merge([{
                    id: user.id,
                    label: user.firstname ~ ' ' ~ user.lastname
                }]) %}
            {% endfor %}
            <label
                class="mb-1"
                for="r_defaultAssigneeId"
            >
                {{ 'assignee'|trans }}
            </label>
            <dp-multiselect
                v-model="assignee"
                :allow-empty="false"
                class="mb-4"
                label="label"
                :options="JSON.parse('{{ assigneeOptions|json_encode|e('js', 'utf-8') }}')"
                track-by="id"
                @input="val => setAssignee(val)"
            >
                <template v-slot:option="{ props }">
                    {% verbatim %}{{ props.option.label }}{% endverbatim %}
                </template>
            </dp-multiselect>
            <input
                :value="assignee.id"
                name="r_defaultAssigneeId"
                type="hidden"
            >
        {% endif %}

        {% if permissions.area_admin_boilerplates is defined and permissions.area_admin_boilerplates.enabled == true %}

            <dp-radio
                id="boilerplateNone"
                class="mb-3"
                :checked="attachmode === 'none'"
                :label="{ text: Translator.trans('boilerplate.none') }"
                name="r_attachmode"
                value="none"
                @change="setAttachmode('none')"
            ></dp-radio>

            <dp-radio
                id="boilerplateExisting"
                :checked="attachmode === 'existing'"
                :label="{ text: Translator.trans('boilerplate.existing') }"
                name="r_attachmode"
                value="existing"
                @change="setAttachmode('existing')"
            ></dp-radio>
            <div class="ml-4 mt-1 mb-3">
                <dp-multiselect
                    v-model="boilerplate"
                    :allow-empty="false"
                    class="w-full"
                    label="label"
                    :options="JSON.parse('{{ existingBoilerplates|json_encode|e('js', 'utf-8') }}')"
                    track-by="id"
                    @input="val => setBoilerplate(val)"
                >
                    <template v-slot:option="{ props }">
                        {% verbatim %}{{ props.option.label }}{% endverbatim %}
                    </template>
                </dp-multiselect>
                <input
                    v-if="attachmode === 'existing'"
                    :value="boilerplate.id"
                    name="r_boilerplateId"
                    type="hidden"
                >
            </div>

            <dp-radio
                id="newBoilerplateRadio"
                :checked="attachmode === 'new'"
                :label="{ text: Translator.trans('boilerplate.generate') }"
                name="r_attachmode"
                value="new"
                @change="setAttachmode('new')"
            ></dp-radio>
            <div
                v-show="attachmode === 'new'"
                id="newBoilerplateForm"
                class="ml-4"
            >
                {{ uiComponent('form.element',  {
                    label: {},
                    control: { name: 'r_boilerplateTitle', attributes: ['data-dp-validate-if=#newBoilerplateRadio'], required: true },
                    id: 'boilerplateTitle',
                    type: 'text',
                    value: '',
                }) }}
                <div class="mt-2">
                    {{ uiComponent('form.element', {
                        label: {},
                        control: {
                            name: 'r_boilerplateText',
                            editorId: 'boilerplateText',
                            hiddenInput: 'r_boilerplateText',
                            customAttrs: ['data-dp-validate-if=#newBoilerplateRadio'],
                            required: true
                        },
                        id: 'r_boilerplateText',
                        type: 'editor',
                        value: ''
                    }) }}
                </div>
            </div>

        {% endif %}

        <div class="text-right u-mt-0_5 space-inline-s">
            <button type="submit" class="btn btn--primary">{{ "save" |trans }}</button>
            <a class="btn btn--secondary" href="{{ path('DemosPlan_statement_administration_tags', {'procedure': procedure}) }}#{{ tag }}">
                {{ "abort"|trans }}
            </a>
        </div>
        </edit-tag>

    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ webpackBundles(['statement-editTag.js']) }}
{% endblock javascripts %}
