<article class="w-full">
    <header class="{{ 'layout__item py-1'|prefixClass }}">
        {% if statement.number is defined %}{{ statement.number }}{% endif %}

        <span class="{{ 'font-size-smaller float-right'|prefixClass }}">
			{% if statement.createdDate is defined %}{{ "date.created"|trans }}: {{ statement.createdDate|dplanDate("d.m.Y H:i") }}{% endif %}
		</span>
    </header>

    <div class="flex flex-col md:flex-row">
        <dl class="{{ 'grid grid-cols-8 w-full md:w-1/2 mb-0'|prefixClass }}">
            <dt class="{{ 'col-start-1 mb-1 font-semibold'|prefixClass }}">
                {{ "document"|trans }}:
            </dt>
             <dd class="{{ 'col-start-2 ml-7 md:ml-5 lg:ml-3'|prefixClass }}">
                {{ statement.element.title|default() }} {% if statement.document.title is defined %}/ {{ statement.document.title }}{% endif %}
            </dd>

            {% if hasPermission('field_statement_location') %}
                <dt class="{{ 'col-start-1 mb-1 weight--bold '|prefixClass }}">
                    {{ "location"|trans }}:
                </dt>
                 <dd class="{{ 'col-start-2 ml-7 md:ml-5 lg:ml-3'|prefixClass }}">
                    {% if statement.polygon|default != '' %}
                        <button
                            class="{{ 'btn--blank o-link--default'|prefixClass }}"
                            type="button"
                            @click.prevent.stop="(function(){$refs.mapModal.toggleModal({{ statement.polygon|convertLegacyPolygon|escape('html_attr') }})})()">
                            {{ 'see'|trans }}
                        </button>
                    {% else %}
                        {{ "notspecified"|trans }}
                    {% endif %}
                </dd>
            {% endif %}
        </dl>

        <dl class="{{ 'grid grid-cols-8 w-full md:w-1/2 mb-0'|prefixClass }}">
            {% if hasPermission('feature_documents_new_statement') %}
                <dt class="{{ 'col-start-1 mb-1 font-semibold'|prefixClass }}">
                    {{ "paragraph"|trans }}:
                </dt>
                <dd class="{{ 'col-start-2 ml-7 md:ml-1'|prefixClass }}">
                    {% if statement.paragraph.title is defined %}{{ statement.paragraph.title|striptags|default() }}{% endif %}
                </dd>
            {% endif %}
            <dt class="{{ 'col-start-1 weight--bold'|prefixClass }}">
                {{ "file"|trans }}:
            </dt>
            <dd class="{{ 'col-start-2 ml-7 md:ml-1'|prefixClass }}">
                {% if statement.files|default([])|length > 0 %}
                    {% for file in statement.files %}
                        <a
                            target="_blank"
                            rel="noopener"
                            href="{{ path("core_file", { 'hash': file|getFile('hash') }) }}" title="{{ file|getFile('name') }}">
                            {{ file|getFile('name') }}
                        </a><br>
                    {% endfor %}
                {% endif %}
            </dd>
        </dl>
    </div>

    <div class="{{ 'layout__item u-11-of-12 u-pl-0 u-pt -'|prefixClass }}">
        {% if statement.rejectedReason is defined and statement.rejectedReason!='' %}
            <strong>
                {{ "confirm.statement.rejected.reason"|trans }} "{{ statement.rejectedReason }}"
            </strong>
            <br>
        {% endif %}

        {% if statement.text is defined %}
            {{ statement.text|dpObscure|wysiwyg }}
        {% endif %}
    </div>

</article>
