{% extends '@DemosPlanCore/DemosPlanCore/email.html.twig' %}
{% block body_plain %}

Sehr geehrte/r {{ templateVars.firstname }} {{ templateVars.lastname }},

Ihr Konto ist seit längerer Zeit inaktiv. Aus datenschutzrechtlichen Gründen wird Ihr Konto am {{ templateVars.deletion_date }} gelöscht, sofern Sie sich bis dahin nicht erneut anmelden.

Um Ihr Konto zu erhalten, melden Sie sich bitte erneut an.{{ templateVars.link_section|raw }}

{% if templateVars.support_email %}
Bei Fragen stehen wir Ihnen gerne unter <a href="mailto:{{ templateVars.support_email }}">{{ templateVars.support_email }}</a> zur Verfügung.

{% endif %}
Mit freundlichen Grüßen
Ihr DEMOS Support Team

{% endblock body_plain %}
