<tr>
    <td>
        {{ report.createdDate|default|dplanDate }}
    </td>
    <td class="overflow-word-break">
        {{ report.userName|default }}
    </td>
    <td>
        {{ report.categoryLabel|default }}
    </td>
    <td class="overflow-word-break">
        {{ report.incoming.orgaName|default(report.message.orgaName|default) }}
    </td>
    <td class="overflow-word-break">
        {% for entry in report.changes %}
            {% if report.category is defined and report.category == 'update' %}
                <p class="u-m-0">
                    {{ entry.fieldOfChange|default|trans({}, 'master-toeb-list') }}<br>
                    {% if entry.contentOld is defined %}
                        {{ 'label.oldEntry'|trans({}, 'master-toeb-list') }}: {{ entry.contentOld|default }}<br>
                    {% endif %}
                    {{ 'label.newEntry'|trans({}, 'master-toeb-list') }}: {{ entry.contentNew|default }}
                </p>
            {% elseif report.category is defined and report.category == 'merge' %}
                <p class="u-m-0">
                    {{ 'label.fromTemplate'|trans({}, 'master-toeb-list') }} {{ report.message.sourceOrganisation.name|default }}
                </p>
            {% else %}
                <p class="u-m-0">
                    {{ entry.fieldOfChange|default|trans({}, 'master-toeb-list') }}: {{ entry.contentNew|default }}
                </p>
            {% endif %}
        {% endfor %}
    </td>
</tr>
