<div class="space-stack-m">
    {% if showDropdown %}
        <p class="{{ 'flash flash-info'|prefixClass }}">
            {{ "explanation.statement.choose.county"|trans|wysiwyg }}
        </p>

        <dp-select
            id="r_receiver"
            :label="{
                text: Translator.trans('statements.county.choose')
            }"
            name="r_receiver"
            :options="JSON.parse('{{ [
                { label: 'statements.no_county_selected', value: 'none' }
            ]|merge(templateVars.notificationReceivers|map(receiver => { label: receiver.label, value: receiver.id }))|json_encode|e('js') }}')"
            required>
        </dp-select>
    {% endif %}

    {% if hasPermission('feature_statement_gdpr_consent_submit') %}
        {% set orgaId = branding.orgaId|default %}
        <label class="{{ 'flash flash-warning'|prefixClass }}">
            <input type="checkbox" name="r_gdpr_consent" required>
            {% if orgaId != '' %}
                {{ 'confirm.gdpr.consent'|trans({ link: path('DemosPlan_misccontent_static_dataprotection'), orgaId: orgaId })|wysiwyg }}
            {% else %}
                {{ 'confirm.gdpr.consent'|trans({ link: path('DemosPlan_misccontent_static_dataprotection') })|wysiwyg }}
            {% endif %}
        </label>
    {% endif %}

    <p>
        {{ 'check.statement.marked.submit'|trans }}
    </p>

    <dp-button
        data-cy="submitStatement"
        name="statementSubmit"
        :text="Translator.trans('statements.marked.submit')"
        :disabled="isSubmitting"
        @click="dpValidateAction('{{ targetForm }}', () => submitForm('{{ targetForm }}', 'statementSubmit'), false)"
    ></dp-button>
</div>
