{% extends '@DemosPlanCore/DemosPlanCore/base.html.twig' %}
{% block component_part %}
    <h1 class="font-size-h1 u-mt">{{ 'procedure.proposal.list'|trans }}</h1>

    <p>
        {{ 'procedure.proposal.list.description'|trans }}
    </p>

    {%  set _proposals = [] %}

    {% for proposal in proposals %}
        {% set _proposal = {} %}
        {% set _proposal = _proposal|merge({'id': proposal.id }) %}
        {% set _proposal = _proposal|merge({'name': proposal.name }) %}
        {% set _proposal = _proposal|merge({'href': path('dplan_procedure_proposal_view', { 'procedureProposalId': proposal.id })|default }) %}
        {% set _proposal = _proposal|merge({'createdDate': proposal.createdDate|default|dplanDate }) %}
        {% set _proposal = _proposal|merge({'isConvertedToProcedure': proposal.status == 'has_been_transformed_into_procedure' }) %}
        {% set _proposals = _proposals|merge([_proposal])  %}
    {% endfor %}

    {{ uiComponent('layout.table', {
        class: 'u-mt',
        elements: _proposals,
        cols: [
            {
                title: 'title',
                field: 'name',
                primary: true,
                hellip: true,
                href: 'href',
                size: 'large',
            },
            {
                title: 'date.created.noun',
                field: 'createdDate',
            },
            {
                title: 'procedure.proposal.generated',
                field: 'isConvertedToProcedure',
                direction: 'center'
            },
        ],
    }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ webpackBundle('core-genericBundle.js') }}
{% endblock %}
