<fieldset class="{{ 'c-statement__step'|prefixClass }}" id="personalData" tabindex="-1">

    <div class="{{ 'c-statement__formhint flash-info u-mb-0_5'|prefixClass }}">
        <i class="{{ 'c-statement__hint-icon fa fa-lg fa-info-circle'|prefixClass }}" aria-hidden="true"></i>
        <span class="{{ 'block u-ml'|prefixClass }}">
            {{ templateVars.procedureUiDefinition.statementFormHintPersonalData|default|wysiwyg }}
        </span>
        {% block extra_personal_hint %}{% endblock %}
    </div>

    <p id="c-statement-hint-personal-data" class="{{ 'c-statement__formhint flash-error hidden'|prefixClass }}" tabindex="0">
        <i class="{{ 'c-statement__hint-icon fa fa-lg fa-exclamation-circle'|prefixClass }}" aria-hidden="true"></i>
        <a href="#" class="{{ 'block u-ml'|prefixClass }}" tabindex="0">
            {{ "error.mandatoryfields.no_asterisk"|trans }}
        </a>
    </p>

    <fieldset class="{{ 'toggle-group-useName block'|prefixClass }}" role="radiogroup" aria-required="true">

        <div class="{{ 'c-statement__formblock'|prefixClass }}" data-toggle-id="useName1" aria-live="polite" aria-relevant="all">

            <label
                for="r_useName"
                class="{{ 'u-mb-0_5'|prefixClass }}">
                <input
                    class="{{ 'js__toggleAnything'|prefixClass }}"
                    data-toggle="#useName1"
                    data-toggle-property="{{ '.is-visible'|prefixClass }}"
                    data-toggle-container="{{ '.toggle-group-useName'|prefixClass }}"
                    data-toggle-exclusive
                    type="radio"
                    id="r_useName"
                    name="r_useName"
                    value="1"
                    checked
                    required
                    aria-labelledby="statement-detail-post-publicly">
                <span
                    id="statement-detail-post-publicly"
                    aria-hidden="true">
                    {{ "statement.detail.form.personal.post_publicly"|trans }}
                </span>
            </label>

            {% apply spaceless %}
                <div class="{{ 'layout'|prefixClass }}">
                    {% for formGroup in personalDataFields|default([]) %}
                        <div class="{{ 'layout__item u-1-of-2 u-mb'|prefixClass }}">
                            {% include '@DemosPlanProcedure/DemosPlanProcedure/includes/formGroups/form_group_' ~ formGroup.name ~ '.html.twig' with {
                                'required': formGroup.required|default(false)
                            } %}
                        </div>
                    {% endfor %}
                </div>
            {% endapply %}

        </div>

        <label class="{{ 'c-statement__formblock u-mb-0_5'|prefixClass }}" data-toggle-id="useName0">
            <input
                class="{{ 'js__toggleAnything'|prefixClass }}"
                data-toggle="#useName0"
                data-toggle-property="{{ '.is-visible'|prefixClass }}"
                data-toggle-exclusive
                data-toggle-container="{{ '.toggle-group-useName'|prefixClass }}"
                type="radio"
                name="r_useName"
                value="0"
                {% if templateVars.request.r_useName is defined and templateVars.request.r_useName == '0' %}checked{% endif %}
                required
                aria-labelledby="statement-detail-post-anonymously"
                data-cy="submitAnonymously">
            <span id="statement-detail-post-anonymously" aria-hidden="true">{{ "statement.detail.form.personal.post_anonymously"|trans }}</span>
        </label>

    </fieldset>

    <div class="{{ 'c-statement__formblock u-mt'|prefixClass }}" data-toggle-id="getFeedback" aria-live="polite" aria-relevant="all">
        <label class="{{ 'u-mb-0_5 block'|prefixClass }}">
            <input
                class="{{ 'js__toggleAnything'|prefixClass }}"
                data-toggle="#getFeedback"
                data-toggle-property="{{ '.is-visible'|prefixClass }}"
                data-toggle-container="none"
                type="checkbox"
                name="r_getFeedback"
                {% if templateVars.request.r_getFeedback is defined and templateVars.request.r_getFeedback == 'on' %}checked{% endif %}
                aria-labelledby="statement-detail-require-information-mail">
            <span id="statement-detail-require-information-mail" aria-hidden="true">{{- "statement.detail.form.personal.require_information_mail"|trans -}}</span>
        </label>

        <div class="{{ 'u-mb-0_5 u-ml-0_75'|prefixClass }}">
            {% apply spaceless %}
                <div class="{{ 'layout'|prefixClass }}">
                    {% for formGroup in feedbackFields|default([]) %}
                        <div class="{{ 'layout__item u-1-of-2 u-mb'|prefixClass }}">
                            {% include '@DemosPlanProcedure/DemosPlanProcedure/includes/formGroups/form_group_' ~ formGroup.name ~ '.html.twig' with {
                                'required': formGroup.required|default(false)
                            } %}
                        </div>
                    {% endfor %}
                </div>
            {% endapply %}
        </div>

    </div>

    <button
        class="{{ 'btn btn--primary u-ml float-right u-1-of-1-palm u-mt-0_5-palm u-nojs-hide--inline-block js__statementForm'|prefixClass }}"
        type="button"
        data-statement-action="toggleCheck"
        data-target-id="#check"
        data-error-hint="#c-statement-hint-personal-data"
        data-cy="continueSubmit"
    >
        {{ "continue.submission"|trans }}
    </button>

</fieldset>
