{% block body_plain %}
{%- set projectName = templateVars.projectName|default('demosplan') %}
{%-  if(templateVars.shortUrl|length > 0) %}
    {%- set procedureUrl = url('core_procedure_slug', {'slug': templateVars.shortUrl }) %}
{% else %}
    {%- set procedureUrl = url('DemosPlan_procedure_public_detail', {'procedure': templateVars.ident }) %}
{%- endif -%}
Guten Tag,

bei {{ projectName }} ist ein Planverfahren in die Beteiligung gegangen.

Bezeichnung: {{ templateVars.externalName|wysiwyg }}
Ort: {{ templateVars.locationPostCode }} {{ templateVars.locationName|wysiwyg }}
Verfahrensschritt: {{ templateVars.publicParticipationPhaseName}}
Abgabefrist der Stellungnahmen: {{ templateVars.publicParticipationStartDate|default()|dplanDate }} - {{ templateVars.publicParticipationEndDate|default()|dplanDate }}

Kurzinfo: {{ templateVars.externalDesc|wysiwyg }}

Zum Verfahren <a href="{{ procedureUrl }}">{{ projectName }}</a>

-------------
Sie erhalten diese E-Mail, weil Sie eine Benachrichtung bei {{ projectName }} erstellt haben. Die Nachricht wurde automatisch generiert.

{% endblock %}
