<h3>{{ "mydata"|trans }}</h3>

<dl class="{{ 'inline-block align-top w-full md:w-1/3 mt-1 pl-0'|prefixClass }}">

    <dt class="{{ 'inline-block align-top w-1/4 md:w-4/12 lg:w-1/4 mb-3 font-semibold'|prefixClass }}">
        {{ "name"|trans }}
    </dt>
    <dd class="{{ 'inline-block align-top w-3/4 md:w-7/12 lg:w-3/4 ml-0'|prefixClass }}">
        {{ templateVars.user.firstname|default("-") }}
        {{ templateVars.user.lastname|default("-") }}
    </dd>
    <dt class="{{ 'inline-block align-top w-1/4 md:w-4/12 lg:w-1/4 mb-3 font-semibold'|prefixClass }}">
        {{ "email"|trans }}
    </dt>
    <dd class="{{ 'inline-block align-top w-3/4 md:w-7/12 lg:w-3/4 ml-0'|prefixClass }}">
        {{ templateVars.user.email|default("-") }}
    </dd>
    <dt class="{{ 'inline-block align-top w-1/4 md:w-4/12 lg:w-1/4 mb-3 font-semibold'|prefixClass }}">
        {{ "street"|trans }}
    </dt>
    <dd class="{{ 'inline-block align-top w-3/4 md:w-7/12 lg:w-3/4 ml-0'|prefixClass }}">
        {{ templateVars.user.address.street|default("-") }}
    </dd>
    <dt class="{{ 'inline-block align-top w-1/4 md:w-4/12 lg:w-1/4 mb-3 font-semibold'|prefixClass }}">
        {{ "postalcode"|trans }}
    </dt>
    <dd class="{{ 'inline-block align-top w-3/4 md:w-7/12 lg:w-3/4 ml-0'|prefixClass }}">
        {{ templateVars.user.address.postalcode|default("-") }}
    </dd>
    <dt class="{{ 'inline-block align-top w-1/4 md:w-4/12 lg:w-1/4 mb-3 font-semibold'|prefixClass }}">
        {{ "city.name"|trans }}
    </dt>
    <dd class="{{ 'inline-block align-top w-3/4 md:w-7/12 lg:w-3/4 ml-0'|prefixClass }}">
        {{ templateVars.user.address.city|default("-") }}
    </dd>
</dl>

<div class="{{ 'layout__item u-2-of-3 u-1-of-1-lap-down u-pl-0-lap-down u-mb-0_5-lap-down'|prefixClass }}">

    {% block user_data_hint %}
        <p>
            {% if projectType == 'gateway' %}
                {{ "explanation.before.vote.data.user.change"|trans({
                    href: gatewayURL,
                    label: 'gateway'|trans })|wysiwyg }}
            {% else %}
                {{ "explanation.before.vote.data.user.change.portal"|trans({
                    url: path('DemosPlan_user_portal'),
                    label: 'profile'|trans })|wysiwyg }}
            {% endif %}
        </p>
    {% endblock user_data_hint %}

    <p class="{{ 'flash flash-info'|prefixClass }}">
        <i
            class="{{ 'fa fa-exclamation-circle u-mr-0_125'|prefixClass }}"
            aria-hidden="true">
        </i>
        <strong>
            {{ "hint"|trans }}
        </strong>:
        {{ "explanation.process.voting"|trans }}<br>
        {{ "explanation.claim.possibility"|trans|wysiwyg }} {{ "explanation.feedback.vote.email"|trans }}
    </p>

    {% if (templateVars.procedure.procedureUiDefinition.statementFormHintRecheck != '') %}
        <p>
            <i
                class="{{ 'fa fa-exclamation-circle u-mr-0_125'|prefixClass }}"
                aria-hidden="true"></i>
            {{ templateVars.procedure.procedureUiDefinition.statementFormHintRecheck|default|wysiwyg }}
        </p>
    {% endif %}
</div>

<h3>{{ "statement.public.vote"|trans }}</h3>

<form
    action="{{ path('DemosPlan_statement_public_vote',{'statementID':statement.ident,'procedure':procedure}) }}"
    method="post"
    name="js__publicStatementForm">
    <input
        name="action"
        type="hidden"
        value="confirmVotePublicStatement">
    {{ include('@DemosPlanCore/DemosPlanCore/includes/csrf.html.twig') }}

    {{ include('@DemosPlanCore/DemosPlanStatement/new_public_participation_statement_confirm_entry.html.twig') }}

    <div class="{{ 'text-right space-inline-s'|prefixClass }}">
        <input
            class="{{ 'btn btn--primary'|prefixClass }}"
            type="submit" name="submit_item_status"
            value="{{ "vote.now"|trans }}">
        <a
            class="{{ 'btn btn--secondary'|prefixClass }}"
            href="{{ path('DemosPlan_procedure_public_detail',{'procedure':procedure}) }}#procedureDetailsStatementsPublic">
            {{ "abort"|trans }}
        </a>
    </div>

</form>
<dp-map-modal
    ref="mapModal"
    procedure-id="{{ procedure }}"
></dp-map-modal>

