{% apply spaceless %}

    <span class="layout__item u-1-of-4 weight--bold block u-mb-0_25 u-mt">
        {{ "voting"|trans }}
    </span>

    {% if statement.publicAllowed is defined and statement.publicAllowed == false and statement.manual == false %}
        <span class="layout__item">{{ "explanation.no.vote.possible"|trans }}</span>
    {% elseif statement.publicAllowed == true and statement.publicVerified == false and statement.manual == false %}
        <span class="layout__item">{{ "deactivated"|trans }}.&nbsp;{% if hideExplanations is not defined or hideExplanations != true %} {{ "explanation.data.protection.before.vote"|trans }} {% endif %}</span>
    {% elseif statement.publicVerified == true and statement.manual == true %}
        <span class="layout__item u-3-of-4">{{ "activated"|trans }}</span>
    {% elseif statement.publicVerified == false and statement.manual == true %}
        <span class="layout__item">{{ "deactivated"|trans }}.&nbsp;{% if hideExplanations is not defined or hideExplanations != true %}&nbsp;{{ "explanation.no.public.vote.possible"|trans }}{% endif %}</span>
    {% else %}
        <span class="layout__item u-3-of-4">{{ "activated"|trans }}</span>
    {% endif %}

{% endapply %}
