{% if hasPermission('field_statement_user_state') or hasPermission('field_statement_user_group') or hasPermission('field_statement_user_organisation') or hasPermission('field_statement_user_position') %}
    <div class="{{ 'layout u-ml-0_5 u-mr-0_5 u-mb-0_75'|prefixClass }}">
        {% apply spaceless %}

            {% if hasPermission('field_statement_user_state') and templateVars.formOptions.userState %}
                <label
                    for="r_userState"
                    class="{{ 'layout__item u-1-of-4-lap-up u-mb-0_5-palm u-mb-0-lap-up u-pl-0'|prefixClass }}"
                    title="{{ 'statements.required.field'|trans }}">
                        <span
                            class="{{ 'block'|prefixClass }}"
                            id="statement-detail-state">{{ 'state'|trans }}
                            <span aria-hidden="true">*</span>
                        </span>
                    <select
                        class="{{ 'layout__item'|prefixClass }}"
                        id="r_userState"
                        name="r_userState"
                        aria-labelledby="statement-detail-state"
                        required>
                        <option value="">---</option>
                        {% for userState in templateVars.formOptions.userState %}
                            <option value="{{ userState }}" {% if userState == templateVars.draftStatement.userState|default %}selected{% endif %}>{{ userState }}</option>
                        {% endfor %}
                    </select>
                </label>
            {% endif %}

            {% if hasPermission('field_statement_user_group') and templateVars.formOptions.userGroup %}
                <label
                    for="r_userGroup"
                    class="{{ 'layout__item u-1-of-4-lap-up u-mb-0_5-palm u-mb-0-lap-up u-pl-0-palm'|prefixClass }}"
                    title="{{ 'statements.required.field'|trans }}">
                        <span
                            class="{{ 'block'|prefixClass }}"
                            id="statement-detail-organisation">
                            {{ 'organisation'|trans }}
                            <span aria-hidden="true">*</span>
                        </span>
                    <select
                        class="{{ 'layout__item'|prefixClass }}"
                        id="r_userGroup"
                        name="r_userGroup"
                        aria-labelledby="statement-detail-organisation"
                        required>
                        <option value="">---</option>
                        {% for userGroup in templateVars.formOptions.userGroup %}
                            <option value="{{ userGroup }}" {% if userGroup == templateVars.draftStatement.userGroup|default %}selected{% endif %}>{{ userGroup }}</option>
                        {% endfor %}
                    </select>
                </label>
            {% endif %}

            {% if hasPermission('field_statement_user_organisation') %}
                <label
                    for="r_userOrganisation"
                    class="{{ 'layout__item u-1-of-4-lap-up u-mb-0_5-palm u-mb-0-lap-up u-pl-0-palm'|prefixClass }}">
                        <span
                            class="{{ 'block'|prefixClass }}"
                            id="statement-detail-organisation-name">
                            {{ 'organisation.name'|trans }}
                        </span>
                    <input
                        id="r_userOrganisation"
                        name="r_userOrganisation"
                        aria-labelledby="statement-detail-organisation-name"
                        class="{{ 'layout__item'|prefixClass }}"
                        type="text"
                        {% if templateVars.request.r_userOrganisation is defined %}
                        value="{{ templateVars.request.r_userOrganisation }}"
                        {% endif %}>
                </label>
            {% endif %}

            {% if hasPermission('field_statement_user_position') and templateVars.formOptions.userPosition %}
                <label
                    for="r_userPosition"
                    class="{{ 'layout__item u-1-of-4-lap-up u-mb-0_5-palm u-mb-0-lap-up u-pl-0-palm'|prefixClass }}">
                        <span
                            class="{{ 'block'|prefixClass }}"
                            id="statement-detail-position">
                            {{ 'position'|trans }}
                        </span>
                    <select
                        class="{{ 'layout__item'|prefixClass }}"
                        id="r_userPosition"
                        name="r_userPosition"
                        aria-labelledby="statement-detail-position">
                        <option value="">---</option>
                        {% for userPosition in templateVars.formOptions.userPosition %}
                            <option value="{{ userPosition }}" {% if userPosition == templateVars.draftStatement.userPosition|default %}selected{% endif %}>{{ userPosition }}</option>
                        {% endfor %}
                    </select>
                </label>
            {% endif %}

        {% endapply %}
    </div>
{% endif %}
