{% extends '@DemosPlanCore/DemosPlanCore/procedure.html.twig' %}
{% set count = 0 %}
    {% set td_width_2 = 80 %}
    {% set td_width_3 = 20 %}

{# Needed to display link to public detail in base.html.twig #}
{% set procedure = templateVars.procedure.id %}

{% block demosplanbundlecontent %}

    {% include '@DemosPlanCore/DemosPlanCore/includes/base_pageheader.html.twig' with {
        heading: (hasPermission('area_admin_map') ? 'plandocument.and.drawing' : 'plandocuments')|trans
    } %}

    {% if hasPermission('area_admin_map') and (templateVars.procedure.master == true or templateVars.procedure.procedureBehaviorDefinition.isAllowedToEnableMap) %}
        <dp-map-settings-preview
            drawing="{{ procedureSettings.planDrawPDF}}"
            drawing-explanation="{{ procedureSettings.planPDF}}"
            init-extent="{{ procedureSettings.mapExtent }}"
            :is-blueprint="Boolean({{ templateVars.procedure.master }})"
            map-attribution="{{ procedureSettings.copyright }}"
            procedure-coordinate="{{ procedureSettings.coordinate }}"
            :procedure-default-initial-extent="JSON.parse('{{ templateVars.procedureDefaultInitialExtent|json_encode|e('js', 'utf-8') }}')"
            procedure-id="{{ templateVars.procedure.id }}"
            territory="{{ procedureSettings.territory }}"
        >
        </dp-map-settings-preview>
    {% endif %}

    {% set addonProps = {
        'procedureId': templateVars.procedure.id,
        'csrf-token': csrf_token('csrf')|json_encode
    } %}
    <addon-wrapper
        hook-name="procedure.adminlist.fields"
        :addon-props="JSON.parse('{{ addonProps|json_encode|e('js', 'utf-8') }}')">
    </addon-wrapper>

    <div class="u-mv-0_75">
        {# Display errors from failed element import #}
        {% if templateVars.errorReport|default([])|length > 0 %}
            <ul class="flash flash-error u-m-0 u-mb">
                {% for error in templateVars.errorReport %}
                    <li>
                        {{ error }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="flow-root">
            {% if hasPermission('feature_admin_element_edit') %}
                <a
                    class="btn btn--primary float-right"
                    href="{{ path('DemosPlan_elements_administration_new',{'procedure':templateVars.procedure.id }) }}"
                    data-cy="createElementCategory">
                    {{ "category.create"|trans }}
                </a>
            {% endif %}
        </div>

        {% if hasPermission("area_admin_elements") %}
            <elements-admin-list>
            </elements-admin-list>
        {% endif %}
    </div>


    {% if hasPermission('feature_admin_element_import') %}
        <h2 class="u-mt-0_75">
            {{ "elementimport"|trans }}
        </h2>
        <p>
            {{ "text.elementimport.fileupload"|trans }}
        </p>
        <form
            class="flow-root u-mb-0_75"
            action="{{ path('DemosPlan_element_import', {'procedureId':templateVars.procedure.id }) }}" method="post" enctype="multipart/form-data">
            {{ include('@DemosPlanCore/DemosPlanCore/includes/csrf.html.twig') }}

            {{
                fileupload(
                    "r_zipImport",
                    "hide",
                    "zip",
                    "form.button.upload.zip"
                )
            }}

            <input
                class="btn btn--primary u-mt-0_75 float-right"
                data-cy="submitImport"
                type="submit"
                value="{{ "import.verb"|trans }}" />
        </form>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ webpackBundles(['ol.js','document-elementsAdminList.js']) }}
{% endblock javascripts %}
