{% extends '@DemosPlanCore/DemosPlanCore/procedure.html.twig' %}


{% block component_part %}

    <form
        action="{{ path('dplan_customer_mail_send_all_users') }}"
        method="post"
        data-dp-validate
    >

        <fieldset>
            <legend>
                <h1>
                    {{ 'customer.settings.update.mail.title'|trans }}
                </h1>
            </legend>

            <p>{{ 'customer.settings.update.mail.help'|trans }}</p>
            {% set urlBase = 'https://' ~ app.request.host %}

            {{ uiComponent('form.row', {
                elements: [
                    {
                        label: { text: 'subject'|trans },
                        control: { name: 'r_email_subject', attributes: ['maxlength=78'] },
                        id: 'r_email_subject',
                        type: 'text',
                        required: true,
                        value: 'customer.settings.update.mail.default.subject'|trans
                    }
                ]
            }) }}

            {{ uiComponent('form.row', {
                elements: [
                    {
                        label: { text: 'email.body'|trans },
                        control: {
                            name: 'r_email_body',
                            boilerPlate: 'email',
                            headings: [1,2,3],
                            hiddenInput: 'r_email_body',
                            linkButton: true,
                            required: true,
                            routes: {
                                boilerplateEditViewRoute: path('DemosPlan_procedure_boilerplate_list', { 'procedure': procedureId|default })
                            }
                        },
                        id: 'r_email_body',
                        type: 'editor',
                        required: true,
                        value: 'customer.settings.update.mail.default.text'|trans({ termsOfUseUrl: urlBase ~ path('DemosPlan_misccontent_static_terms'), dataProtectionUrl: urlBase ~ path('DemosPlan_misccontent_static_dataprotection') })
                    }
                ]
            }) }}
            </label>

            {{ uiComponent('form.element', {
                label: { text: 'customer.settings.update.mail.info'|trans({ count: templateVars.usersCount|default(0) }) },
                control: { name: 'r_confirm', value: '1', checked: false },
                id: 'r_confirm',
                type: 'checkbox',
                required: true,
            }) }}

            <div class="text--right space-inline-s">
                <button
                    class="btn btn--primary"
                    type="submit"
                    name="send"
                >
                    {{ 'email.send'|trans }}
                </button>
            </div>

        </fieldset>
    </form>

{% endblock component_part %}

{#  bundles generated via webpack/gulp build are included here  #}
{% block javascripts %}
    {{ parent() }}
    {{ webpackBundles(['user-customersettingsmail.js']) }}
{% endblock javascripts %}
