{#  -------------------------------------
    Twig Macros for Dplan
    -------------------------------------

    Contents
    -------------------------------------

    - pager

    -------------------------------------

    Needs to be rewritten as a twig function as of twig 2.0 the need to be reimported in any child template
    see https://github.com/twigphp/Twig/issues/2267

    #}

{#  pager
    https://github.com/whiteoctober/Pagerfanta/blob/master/README.md#defaultview #}
{% macro pager( templateVars, showAll = false, resultStr = '', label_first = true, urlFragment = '' ) %}{% apply spaceless %}

    {% set omitPrefix = templateVars.omitPrefix is defined ? templateVars.omitPrefix : true  %}

    <div class="{{ 'c-pager'|prefixClass(omitPrefix) }}">

        {% if templateVars.pager is defined and templateVars.pager.count is defined and templateVars.pager.limits is defined and
            templateVars.pager.count > templateVars.pager.limits|default([])|first %}

{#             Pager Dropdown #}
            <div class="{{ 'c-pager__dropdown u-mb-0_5-palm'|prefixClass(omitPrefix) }}">

                <label
                    class="{{ 'c-pager__dropdown-label u-m-0 u-p-0 weight--normal inline-block'|prefixClass(omitPrefix) }}"
                    aria-label="{{ 'pager.amount.multiple.label'|trans({results: templateVars.totalResults|default(0), items: resultStr|default('pager.amount.multiple.items'|trans) }) }}"
                >
                    <span aria-hidden="true">
                        {{ 'pager.amount.multiple.show'|trans }}
                    </span>
                    <select name="r_limit" data-pager-select>
                        {% for limit in templateVars.pager.limits|default([25]) %}
                            {% if limit < templateVars.totalResults|default(0) %}
                                <option {% if templateVars.limitResults|default(0) == limit %}selected{% endif %}>{{ limit }}</option>
                            {% endif %}
                        {% endfor %}
                        {% if showAll == true %}
                            <option value="{{ templateVars.totalResults|default(0) }}" {% if templateVars.limitResults|default(0) == templateVars.totalResults|default(0) %}selected{% endif %}>alle</option>
                        {% endif %}
                    </select>
                    <span aria-hidden="true">
                        {{ 'pager.amount.multiple.of'|trans }}
                        {{ templateVars.totalResults|default(0) }}
                        {{ resultStr|default('pager.amount.multiple.items'|trans) }}
                    </span>
                </label>

            </div>

            {# Pager Links #}
            {% if templateVars.pager.haveToPaginate == true %}

                {% set prev_message = '<span class="' ~ 'show-lap-up-i'|prefixClass(omitPrefix) ~ '">' ~ 'pager.previous'|trans ~ '</span>'
                    ~ '<span class="' ~ 'hide-lap-up-i'|prefixClass(omitPrefix) ~ '">'
                    ~ '<i title="' ~ 'pager.previous'|trans ~ '" class="' ~ 'fa fa-angle-left'|prefixClass(omitPrefix) ~ '" aria-hidden="true"></i>'
                    ~ '</span>' %}

                {% set next_message = '<span class="' ~ 'show-lap-up-i'|prefixClass(omitPrefix) ~ '">' ~ 'pager.next'|trans ~ '</span>'
                    ~ '<span class="' ~ 'hide-lap-up-i'|prefixClass(omitPrefix) ~ '">'
                    ~ '<i title="' ~ 'pager.next'|trans ~ '" class="' ~ 'fa fa-angle-right'|prefixClass(omitPrefix) ~ '" aria-hidden="true"></i>'
                    ~ '</span>' %}

                {{ pagerfanta(templateVars.pager, 'default', {
                    prev_message: prev_message,
                    next_message: next_message,
                    container_template: '<nav class="' ~ 'u-ml-lap-up inline-block'|prefixClass(omitPrefix) ~ '" role="navigation" aria-label="'
                    ~ ( label_first == true ? 'pager.label.first'|trans : 'pager.label.last'|trans )
                    ~ '" data-pager-nav><ul class="' ~ 'c-pager__page-list'|prefixClass(omitPrefix) ~ '">%%pages%%</ul></nav>',
                    page_template: '<li class="' ~ 'c-pager__page-item'|prefixClass(omitPrefix) ~ '"><a href="%href%" aria-label="'
                    ~ 'pager.goto.page'|trans
                    ~ '">%text%</a></li>',
                    span_template: '<li class="' ~ 'c-pager__page-item %class%'|prefixClass(omitPrefix) ~ '">%text%</li>',
                    routeParams: {'r_limit': templateVars.limitResults|default(25), '_fragment': urlFragment}
                } ) }}
            {% endif %}

        {% else %}

            {% if templateVars.totalResults|default > 0 %}
                {{ "pager.amount"|trans({ count: templateVars.totalResults }) }}
            {% endif %}

        {% endif %}

    </div>
{% endapply %}{% endmacro %}
