{% set omitPrefix = omitCssPrefix ?? true %}
{% set contextualHelpId = 'contextualHelp' ~ random() %}

{# Helper that is only used in "Wizard" mode in administration_edit view in conjunction with .o-wizard. Remove as soon as possible. #}
{% if showPlainHint|default(false) == true %}
    <span
        class="inline-block font-size-small u-mb-0_5"
        data-wizard-tooltip-plain>
        {{ helpText|wysiwyg }}
    </span>
{% endif %}

<dp-contextual-help
    class="{{ 'u-nojs-hide'|prefixClass(omitPrefix) }} {{ cssClasses|default|prefixClass(omitPrefix) }}"
    :text="'{{ helpText|wysiwyg|e('html_attr') }}'"
    {% if showPlainHint|default(false) == true %}data-wizard-tooltip{% endif %}>
</dp-contextual-help>
<noscript>
    <span
        tabindex="0"
        class="{{ 'o-tooltip fa fa-question-circle'|prefixClass(omitPrefix) }} {{ cssClasses|default|prefixClass(omitPrefix) }}"
        aria-label="{{ 'contextual.help'|trans }}"
        aria-describedby="{{ contextualHelpId }}">
        <span
            class="{{ 'o-tooltip__content'|prefixClass(omitPrefix) }}"
            aria-hidden="true"
            id="{{ contextualHelpId }}"
            role="tooltip">
            {{- helpText|wysiwyg -}}
        </span>
    </span>
</noscript>
