{% extends '@DemosPlanCore/DemosPlanCore/procedure.html.twig' %}
{% set mapglobals = templateVars.mapglobals %}
{% set mapOptions = templateVars.mapOptions %}

{% set availableScales = templateVars.availableScales|map(scale => { label: '1:' ~ scale|number_format(0, '.', '.'), value: scale } ) %}
{% set selectedScales = templateVars.mapglobals.scales|map(scale => { label: '1:' ~ scale|number_format(0, '.', '.'), value: scale } ) %}

{% block demosplanbundlecontent %}

    {% include '@DemosPlanCore/DemosPlanCore/includes/base_pageheader.html.twig' with {
        heading: 'drawing.mapsection.define'|trans
    } %}

    <dp-map-admin inline-template>
        <form class="layout u-pb" action="{{ path('DemosPlan_map_administration_map',{'procedureId':procedure}) }}" method="post" name="configForm">
            <input type="hidden" name="action" value="mapglobals">
            {{ include('@DemosPlanCore/DemosPlanCore/includes/csrf.html.twig') }}

            {# Value that is used to set the extent of map a.k.a. procedureMaxExtent #}
            <label class="layout__item u-1-of-4" for="bbox_of_project_epsg25832">
                {{ "boundingbox"|trans }}
            </label><!--
         --><p
                class="layout__item u-3-of-4"
                data-cy="boundingBox"
                data-coordinates="bbox_of_project_epsg25832">
                {% if mapOptions.procedureMaxExtent == mapOptions.procedureDefaultMaxExtent %}
                    {{ 'boundingbox.not.set'|trans }}
                {% else %}
                    {{ mapOptions.procedureMaxExtent|default([0,0,0,0])|join(',') }}
                {% endif %}
            </p>
            <input
                type="hidden"
                name="r_boundingBox"
                id="bbox_of_project_epsg25832"
                value="{{ mapOptions.procedureMaxExtent|join(',') }}"
                data-coordinates="bbox_of_project_epsg25832">

            {# Startkartenausschnitt #}
            <label class="layout__item u-1-of-4 u-mb-0_5" for="mapExtend_of_project_epsg25832">
                {{ 'clipping'|trans }}
            </label><!--
         --><p
                class="layout__item u-3-of-4"
                data-cy="mapExtend"
                data-coordinates="mapExtend_of_project_epsg25832">
                {% if mapOptions.procedureInitialExtent == mapOptions.procedureDefaultInitialExtent %}
                    {{ 'clipping.not.set'|trans }}
                {% else %}
                    {{ mapOptions.procedureInitialExtent|default([0,0,0,0])|join(',') }}
                {% endif %}
            </p>
            <input
                type="hidden"
                name="r_mapExtent"
                id="mapExtend_of_project_epsg25832"
                data-coordinates="mapExtend_of_project_epsg25832"
                value="{{ mapOptions.procedureInitialExtent|join(',') }}">

            <dp-map-view
                class="layout__item u-1-of-1 u-pb"
                default-attribution="{{ mapglobals.copyright }}"
                procedure-id="{{ procedure }}"
                procedure-coordinates="{{ templateVars.mapglobals.procedure.settings.coordinate }}"
                procedure-territory="{{ templateVars.territory|default('{}') }}">
            </dp-map-view>

            {# Select available scales for procedure #}
            <label class="layout__item u-1-of-4 u-mb-0_5" for="r_scales">
                {{ 'map.scales'|trans }}
            </label><!--
        --><div class="layout__item u-3-of-4 u-mb-0_5">
                <dp-map-admin-scales
                    :available-scales="JSON.parse('{{ availableScales|json_encode|e('js', 'utf-8') }}')"
                    :selected-scales="JSON.parse('{{ selectedScales|json_encode|e('js', 'utf-8') }}')"
                    @change="value => areScalesSuitable = value">
                </dp-map-admin-scales>
            </div>

            {# Wenn keine globale Sachdatenabfragenurl definiert ist, kann sie hier eingetragen werden #}
            {% if mapglobals.featureInfoUrl.global|default == false %}
                <label class="layout__item u-1-of-4" for="r_informationUrl">
                    {{ 'url.information'|trans }}
                </label><!--
             --><div class="layout__item u-3-of-4 u-mb-0_5">
                    <input
                        class="o-form__control-input w-full"
                        type="text"
                        id="r_informationUrl"
                        name="r_informationUrl"
                        value="{{ mapglobals.informationUrl|default }}">
                    <p class="lbl__hint">
                        {{ 'url.information.hint'|trans({ buttonlabel: 'map.getfeatureinfo.label'|trans }) }}
                    </p>
                </div>
            {% endif %}

            {# Copyright hint #}
            <label
                class="layout__item u-1-of-4"
                for="r_copyright">
                {{ 'map.attribution'|trans }}
            </label><!--
         --><div class="layout__item u-3-of-4">
                {% if hasPermission('area_admin_map_copyright') %}
                <input
                    name="r_copyright"
                    type="text"
                    id="r_copyright"
                    class="o-form__control-input w-full"
                    value="{{ mapglobals.copyright }}">
                <p class="lbl__hint">
                    {{ 'map.attribution.placeholder'|trans|wysiwyg('strong') }}
                </p>
                {% else %}
                <p class="layout__item">
                    {{ mapglobals.copyright }}
                </p>
                {% endif %}
            </div>

            {# Show only layers from one category simultaneously #}
            {% if hasPermission('feature_layer_groups_alternate_visibility') %}
                <div class="layout__item u-1-of-4"></div><!--
             --><div class="layout__item u-3-of-4 u-mt-0_75">
                    <dp-checkbox
                        id="r_enable_layer_groups_alternate_visibility"
                        name="r_enable_layer_groups_alternate_visibility"
                        :checked="{{ mapglobals.layerGroupsAlternateVisibility == 'true' ? 'true' : 'false' }}"
                        value="{{ mapglobals.layerGroupsAlternateVisibility|default }}"
                        :label="{
                            bold: true,
                            hint: Translator.trans('explanation.gislayer.layergroup.toggle.alternating.visibility.extended'),
                            text: Translator.trans('explanation.gislayer.layergroup.toggle.alternating.visibility')
                        }">
                    </dp-checkbox>
                </div>
            {% endif %}

            <div class="layout__item u-1-of-1 text-right u-mt-0_5 space-inline-s">
                <input
                    class="btn btn--primary"
                    :disabled="areScalesSuitable === false"
                    type="submit"
                    name="saveConfig"
                    value="{{ "save"|trans }}">
                <input
                    class="btn btn--primary"
                    :disabled="areScalesSuitable === false"
                    type="submit"
                    name="submit_item_return_button"
                    value="{{ "save.and.return.to.list"|trans }}">
                <a class="btn btn--secondary" href="{{ path('DemosPlan_element_administration', {'procedure':procedure}) }}">
                    {{ "abort"|trans }}
                </a>
            </div>

        </form>
    </dp-map-admin>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ webpackBundles(['ol.js', 'map-mapAdmin.js']) }}
{% endblock javascripts %}

