{% extends '@DemosPlanCore/DemosPlanCore/procedure.html.twig' %}

{% block demosplanbundlecontent %}

    {% include '@DemosPlanCore/DemosPlanCore/includes/base_pageheader.html.twig' with {
        heading: 'drawing.edit'|trans
    } %}

    {% set canEditMapHint = hasPermission('feature_map_hint') and templateVars.procedure.master == false %}

    <form
        class="flow-root border--bottom u-pb-0_5 u-mb"
        name="planform"
        action="{{ path('DemosPlan_map_administration_gislayer',{ procedureId: procedure }) }}"
        method="post"
        enctype="multipart/form-data"
        {% if canEditMapHint %}
            data-dp-validate
            novalidate
        {% endif %}
    >
        <input
            type="hidden"
            name="action"
            value="updatePlan">

        {{ include('@DemosPlanCore/DemosPlanCore/includes/csrf.html.twig') }}

        <admin-layer-plan-drawing
            v-if="{{ hasPermission('feature_map_use_plan_draw_pdf') or hasPermission('feature_map_use_plan_pdf') or canEditMapHint }}"
            init-map-hint="{{ templateVars.procedure.settings.mapHint|default(templateVars.procedure.procedureUiDefinition.mapHintDefault) }}"
            :is-master="{{ templateVars.procedure.master|default(false) ? 'true' : 'false' }}"
            plan-pdf="{{ templateVars.procedure.settings.planPDF|default }}"
            plan-draw-pdf="{{ templateVars.procedure.settings.planDrawPDF|default }}"
            procedure-id="{{ templateVars.procedure.id|default }}"
        ></admin-layer-plan-drawing>
    </form>

    <admin-layer-list
        class="w-full u-mt"
        procedure-id="{{ templateVars.procedure.id|default('nö') }}">
    </admin-layer-list>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ webpackBundle('map-mapAdminGislayerList.js') }}
{% endblock javascripts %}



